In [6]:
import pandas as pd
pd.read_csv('data/rain_data_2015-12.csv', usecols=['Site','Date', 'Rainfall (mm)'])

      Site              Date  Rainfall (mm)
0     FP35  01/12/2005 00:00            0.0
1     FP35  01/12/2005 00:15            0.0
2     FP35  01/12/2005 00:30            0.0
3     FP35  01/12/2005 00:45            0.0
4     FP35  01/12/2005 01:00            0.0
...    ...               ...            ...
5761  PL16  31/12/2005 22:45            0.2
5762  PL16  31/12/2005 23:00            0.0
5763  PL16  31/12/2005 23:15            0.0
5764  PL16  31/12/2005 23:30            0.0
5765  PL16  31/12/2005 23:45            0.0

[5766 rows x 3 columns]

In [7]:
from catchment import models

In [9]:
dataset = models.read_variable_from_csv('data/rain_data_2015-12.csv')

In [10]:
dataset

                     FP35  PL16
2005-12-01 00:00:00   0.0   0.0
2005-12-01 00:15:00   0.0   0.0
2005-12-01 00:30:00   0.0   0.0
2005-12-01 00:45:00   0.0   0.0
2005-12-01 01:00:00   0.0   0.0
...                   ...   ...
2005-12-31 22:45:00   0.2   0.2
2005-12-31 23:00:00   0.0   0.0
2005-12-31 23:15:00   0.2   0.0
2005-12-31 23:30:00   0.2   0.0
2005-12-31 23:45:00   0.0   0.0

[2976 rows x 2 columns]

In [11]:
sample_dataset = models.read_variable_from_csv('data/rain_data_small.csv')

In [12]:
sample_dataset

                     FP35  PL16
2005-12-01 23:00:00   0.0   0.4
2005-12-01 23:15:00   0.0   0.4
2005-12-01 23:30:00   0.0   0.4
2005-12-01 23:45:00   0.0   0.6
2005-12-02 00:00:00   0.2   0.2
2005-12-02 00:15:00   0.0   0.4
2005-12-02 00:30:00   0.0   0.8
2005-12-02 00:45:00   0.2   0.6

In [13]:
from catchment.models import daily_total

In [14]:
daily_total(sample_dataset)

            FP35  PL16
2005-12-01   0.0   1.8
2005-12-02   0.4   2.0

In [17]:
import pandas as pd
import pandas.testing as pdt
from catchment.models import daily_mean
import datetime

In [18]:
test_input = pd.DataFrame(
                data=[[1.0, 2.0],
                      [3.0, 4.0],
                      [5.0, 6.0]],
                index=[pd.to_datetime('2000-01-01 01:00'),
                       pd.to_datetime('2000-01-01 02:00'),
                       pd.to_datetime('2000-01-01 03:00')],
                columns=['A', 'B']
)

In [24]:
test_output = pd.DataFrame(
                 data=[[3.0, 4.0]],
                 index=[datetime.date(2000, 1, 1)],
                 columns=['A', 'B']
)

In [25]:
pdt.assert_frame_equal(daily_mean(test_input),(test_output))